<% for(var i=0;i<users.length;i++){%>
<tr>
    <td><%=i+1%></td>
    <td><%=users[i].name%></td>
    <td><%=users[i].email%></td>  
    <td><%=users[i].phone%></td>
    <td><%=users[i].address%></td>
    <td>
        <a href="/update_user/<%=users[i]._id%>" class="btn border-shadow update" id="<%=users[i]._id%>">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href='javascript:del_user("<%=users[i]._id%>")' class="btn border-shadow delete" id="<%=users[i]._id%>">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<%}%>
